<div class="bgimg1">
  <div class="bg">

<div class="col-md-6 offset-md-3">
    <h3>Update Patient</h3>
    <form (ngSubmit)="onSubmit()">
  
      <div class="form-group">
        <label for="patient_id">PatientId</label>
        <input type="text" class="form-control" id="patient_id" [(ngModel)]="patients.patient_id" name="patient_id">
      </div>
  
      <div class="form-group">
        <label for="patient_name">PatientName</label>
        <input type="text" class="form-control" id="patient_namee" [(ngModel)]="patients.patient_name" name="patient_name">
      </div>
  
      <div class="form-group">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age" [(ngModel)]="patients.age" name="age">
      </div>
  
      <div class="form-group">
        <label for="disease">Disease</label>
        <input type="text" class="form-control" id="disease" [(ngModel)]="patients.disease" name="disease">
      </div>

      <div class="form-group">
        <label for="gender">Gender</label>
        <input type="text" class="form-control" id="gender" [(ngModel)]="patients.gender" name="gender">
      </div>

      <div class="form-group">
        <label for="Phone_number">PhNo</label>
        <input type="text" class="form-control" id="Phone_number" [(ngModel)]="patients.Phone_number" name="Phone_number">
      </div>
  
      <button class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>
  </div>
</div>
  

