.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
 .bgimg1{

    height: 100vh;
    background-image: url("https://img.freepik.com/free-photo/medical-equipment-clean-table-hospital-generated-by-ai_188544-27882.jpg?size=626&ext=jpg&ga=GA1.1.693168136.1699009395&semt=ais");
    background-size:cover;
    
    background-position: center;
 }