.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
 .bgimg1{

    height: 100vh;
    background-image: url("https://img.freepik.com/free-psd/wheeled-bed-privacy-curtains-medical-clinic-generative-ai_587448-2183.jpg?size=626&ext=jpg&ga=GA1.1.693168136.1699009395&semt=ais");
    background-size:cover;
    
    background-position: center;
 }